extends layout 

block content 
    h1 Add post
    form(action="" id="add-comment" method="POST")
        label(for="comment") Post
        input(type="text" name="comment" id="comment")
        button(class="btn" type="submit") Add Post
    script(src="/javascripts/addcomment.js")