extends layout 

block content 
    h1 Comments 
    //Comments for a specific post
    each subcomment, motherID in subcomments
            div(id="post")
                br
                p= "User:" + subcomment.username 
                p= subcomment.subcomment 
                br
            br
    script(src="/javascripts/subcommentwall.js")